<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="2"
          android:versionName="1.0.0-SNAPSHOT"
          package="com.example">

    <uses-sdk android:minSdkVersion="18"
              android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".Type44">

        <activity android:name=".activity.HomeScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
         </activity>
        <activity android:name=".activity.RSSActivity"/>
        <activity android:name=".activity.TabViewActivity">
        </activity>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.DashBoardActivity">
        </activity>
        <activity android:name=".activity.LogWorkoutActivity"/>
        <service android:name=".RssService" />
    </application>
</manifest>